/* Root Variables */
:root{
    --main-color:#2196f3 ;
    --main-color-alt:#1787e0 ;
    --main-transition: 0.3s;
}

/* Global Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input,button{
    outline: none;
    border: none;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
			width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
			width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
			width: 1170px;
	}
}

/* page */
.page{
    min-height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.33);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.timer{
    box-shadow: 0px 0px 20px rgba(65, 5, 145, 0.25);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--main-color);
    font-size:24px;
    margin: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0 0 30px 0;
}
.btn{
    padding: 10px;
    font-size: 20px;
    flex: 1;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    transition: var(--main-transition);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

#start, #restart{
    background-color: var(--main-color);
}
#start:hover, #restart:hover{
    background-color: var(--main-color-alt);
}

#stop{
    background-color: rgb(255, 0, 0);
}
#stop:hover{
    background-color: rgb(181, 5, 5);
}
